<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>
            PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> python mtapp home
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> python merver
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).

You have 18 unapplied migration(s). Your project may not work prope apply the migrations for app(s): admin, auth, contenttypes, sessio
Run 'python manage.py migrate' to apply them.
August 29, 2024 - 09:00:53
Django version 5.1, using settings 'core.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CTRL-BREAK.

[29/Aug/2024 09:01:09] "GET / HTTP/1.1" 200 12068
Not Found: /favicon.ico
[29/Aug/2024 09:01:11] "GET /favicon.ico HTTP/1.1" 404 2206
[29/Aug/2024 09:01:24] "GET / HTTP/1.1" 200 12068
Not Found: /favicon.ico
[29/Aug/2024 09:01:24] "GET /favicon.ico HTTP/1.1" 404 2206
C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core\core\setting reloading.
Watching for file changes with StatReloader
Performing system checks...

You have 18 unapplied migration(s). Your project may not work prope apply the migrations for app(s): admin, auth, contenttypes, sessio
Django version 5.1, using settings 'core.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CTRL-BREAK.

PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> ^C
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> ^C
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core>
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git init
Initialized empty Git repository in C:/Users/satya/OneDrive/Desktop
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git remo
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git add 
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git comm
[master (root-commit) c55a50e] Starting Django
 23 files changed, 223 insertions(+)
 create mode 100644 core/__init__.py
 create mode 100644 core/__pycache__/__init__.cpython-312.pyc
 create mode 100644 core/__pycache__/settings.cpython-312.pyc
 create mode 100644 core/__pycache__/urls.cpython-312.pyc
 create mode 100644 core/__pycache__/wsgi.cpython-312.pyc
 create mode 100644 core/asgi.py
 create mode 100644 core/settings.py
 create mode 100644 core/urls.py
 create mode 100644 core/wsgi.py
 create mode 100644 db.sqlite3
 create mode 100644 home/__init__.py
 create mode 100644 home/__pycache__/admin.cpython-312.pyc
 create mode 100644 home/__pycache__/apps.cpython-312.pyc
 create mode 100644 home/admin.py
 create mode 100644 home/apps.py
 create mode 100644 home/migrations/__init__.py
 create mode 100644 home/migrations/__pycache__/__init__.cpython-31
 create mode 100644 home/models.py
 create mode 100644 home/tests.py
 create mode 100644 home/views.py
 create mode 100644 manage.py
error: src refspec main does not match any
error: failed to push some refs to 'https://github.com/satyamsingh-
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git push
fatal: The current branch master has no upstream branch.
To push the current branch and set the remote as upstream, use

    git push --set-upstream origin master

upstream, see 'push.autoSetupRemote' in 'git help config'.

PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git push
fatal: The current branch master has no upstream branch.
To push the current branch and set the remote as upstream, use

    git push --set-upstream origin master

To have this happen automatically for branches without a tracking
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core> git push origin master
Enumerating objects: 28, done.
Counting objects: 100% (28/28), done.
Delta compression using up to 8 threads
Compressing objects: 100% (27/27), done.
Writing objects: 100% (28/28), 7.05 KiB | 1.17 MiB/s, done.
Total 28 (delta 4), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (4/4), done.
To https://github.com/satyamsingh-stack/django.git
 * [new branch]      master -> master
PS C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core>
                                                           python manage.py runserver
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).

You have 18 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): admin, auth, contenttypes, sessions.
Run 'python manage.py migrate' to apply them.
August 29, 2024 - 09:17:08
Django version 5.1, using settings 'core.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CTRL-BREAK.

[29/Aug/2024 09:17:16] "GET / HTTP/1.1" 200 33
Not Found: /home
[29/Aug/2024 09:17:23] "GET /home HTTP/1.1" 404 2328
C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core\home\views.py changed, reloading.
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).

You have 18 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): admin, auth, contenttypes, sessions.
Run 'python manage.py migrate' to apply them.
August 29, 2024 - 09:20:13
Django version 5.1, using settings 'core.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CTRL-BREAK.

[29/Aug/2024 09:20:17] "GET / HTTP/1.1" 200 33
C:\Users\satya\OneDrive\Desktop\tcs_wings1\Django\core\core\urls.py changed, reloading.
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).

You have 18 unapplied migration(s). Your project may not work properly until you apply the migrations for app(s): admin, auth, contenttypes, sessionontenttypes, sessions.
Run 'python manage.py migrate' to apply them.
August 29, 2024 - 09:20:39
Django version 5.1, using settings 'core.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CTRL-BREAK.

[29/Aug/2024 09:20:47] "GET / HTTP/1.1" 200 33
[29/Aug/2024 09:20:52] "GET /sucess HTTP/1.1" 301 0
[29/Aug/2024 09:20:52] "GET /sucess/ HTTP/1.1" 200 37
        </p>
        
        <script src="" async defer></script>
    </body>
</html>