<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {{peoples}}
        <table class="container">
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>Age</th>
              <th> Can Vote? </th>
            </tr>
            {% for people in peoples %}
<tr>
  <td>{{ forloop.counter }}</td>
  <td>{{ people.name }}</td>
  <td>{{ people.age }}</td>
  <td>
    {% if people.age >= 18 %}
      YES
    {% else %}
      No
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>

          </table>
        <script src="" async defer></script>
    </body>
</html>